body {
  background-color: #fffbf7 !important;
  margin: auto !important;
  padding: 20px;
  width: 1024px;
}

th, td {
  padding: 5px !important;
}

table, th, td {
   border: 1px solid black !important;
}

th {
  background-color: #c9d6c2 !important;
}

td {
  background-color: #ffffff !important;
}

.menu {
  float: left;
  padding-right: 10px;
  width: 184px;
}

.glyphicon {
  padding-right: 5px;
}

.menu-item {
  padding-bottom: 10px;
}

.not-menu-container {
  float: left;
}

#title-header {
  margin-top: 0;
  text-align: center;
}

#links-subheader {
  padding-bottom: 7px;
  text-align: center;
}

.pagination-link {
  display: none;
  padding: 8px;
}

#lesson-name {
  font-weight: bold;
}

#prompt {
  float: left;
  padding-bottom: 20px;
  width: 490px;
}

#answer-correct, #answer-wrong {
  display: none;
  float: left;
  font-weight: bold;
  width: 420px;
}

#sql-header {
  clear: left;
}

#sql-link {
  margin: 10px 0 34px 5px;
}

/* I'm sure there is a better Bootstrap way of doing this */
.layout-row {
  clear: left;
}

.sql-input-container {
  float: left;
  width: 390px;
}

#sql-input {
  width: 290px;
}

.results-container {
  float: left;
  padding-left: 20px;
  width: 390px;
}

#results {
  padding-bottom: 20px;
}

.table-name {
  font-style: italic;
  font-weight: bold;
  padding-top: 10px;
}

.expected-results-container {
  display: none;
  float: left;
  padding-left: 20px;
  width: 390px;
}

.current-tables-container {
  float: left;
  padding-bottom: 20px;
  width: 390px;
}

.email-info, .github-info {
  clear: left;
  margin: auto;
  padding-top: 12px;
  width: 420px;
}

/* For desktop */
@media (min-width: 650px) {
  #menu-link {
    display: none;
  }
}

/* For mobile */
@media (max-width: 649px) {
  body {
    padding-bottom: 0;
    padding-right: 0;
    width: 620px;
  }

  .menu-hidden-for-mobile {
    display: none;
  }

  .results-container, .expected-results-container {
    padding: 0;
  }

  .social-plugins {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #prompt {
    font-size: 18px;
    width: 590px;
  }
}
