body {
  margin: auto !important;
  padding: 20px;
  width: 820px;
}

th, td {
  padding-bottom: 5px !important;
  padding-right: 10px !important;
}

#title-header {
  margin-top: 0;
  text-align: center;
}

#lesson-name {
  font-weight: bold;
}

/* TODO: use bootstrap columns instead of hard coding 400px columns with 20px in between. */
#prompt {
  float: left;
  width: 400px;
  padding-bottom: 20px;
}

#answer-correctness {
  float: left;
  font-weight: bold;
  padding-left: 20px;
}

#sql-header {
  clear: left;
}

#sql-link {
  margin-bottom: 24px;
}

.sql-input-container {
  float: left;
  width: 400px;
}

.results-container {
  float: left;
  padding-left: 20px;
}

.expected-results-container {
  display: none;
  float: left;
  padding-left: 20px;
}

.current-tables-container {
  float: left;
  width: 400px;
}
