body {
  background-color: #fffbf7 !important;
  margin: auto !important;
  padding: 20px;
  width: 1024px;
}

th, td {
  padding-bottom: 5px !important;
  padding-right: 10px !important;
}

.menu {
  float: left;
  padding-right: 10px;
  width: 184px;
}

.glyphicon {
  padding-right: 5px;
}

.menu-item {
  padding-bottom: 10px;
}

.not-menu-container {
  float: left;
}

#title-header {
  margin-top: 0;
  text-align: center;
}

#links-subheader {
  padding-bottom: 7px;
  text-align: center;
}

.pagination-link {
  display: none;
  padding: 8px;
}

#lesson-name {
  font-weight: bold;
}

#prompt {
  float: left;
  padding-bottom: 20px;
  width: 490px;
}

#answer-correctness {
  float: left;
  font-weight: bold;
  padding-bottom: 20px;
  width: 390px;
}

#sql-header {
  clear: left;
}

#sql-link {
  margin: 10px 0 34px 5px;
}

/* I'm sure there is a better Bootstrap way of doing this */
.layout-row {
  clear: left;
}

.sql-input-container {
  float: left;
  width: 390px;
}

#sql-input {
  width: 290px;
}

.results-container {
  float: left;
  padding-left: 20px;
  width: 390px;
}

.table-name {
  font-style: italic;
  font-weight: bold;
  padding-top: 10px;
}

.expected-results-container {
  display: none;
  float: left;
  padding-left: 20px;
  width: 390px;
}

.current-tables-container {
  float: left;
  padding-bottom: 20px;
  width: 390px;
}

.social-plugins {
  clear: left;
  margin: auto;
  padding-left: 35px;
  width: 345px;
}
